body {
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: grey;
}

a:active {
	text-decoration: none;
}

div.header,div.content {
	margin-top: 0px;
	margin-bottom: 0px;
	position: relative;
	clear: both;
}

div.nav {
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	height: 30px;
}

.left {
	border-right: 0 none;
	padding: 10px;
}

.right {
	border-left: 2px solid grey;
	padding: 10px;
}

.absolute {
	position: absolute;
}

.sticky {
	position: sticky;
	clear: both;
}

.fixed {
	position: fixed;
}

.relative {
	position: relative;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
	width: 100%;
	height: 2px;
	background-color:black;
}





.textleft {
	text-align: left;
}

.textcenter {
	text-align: center;
}

.textright {
	text-align: right;
}

.textbottom {
	bottom: 0;
}

.info_today {
	margin: 0px;
    color: black;
    font-family: Cormorant;
    font-size: 14px;
    font-weight: normal;
}

.menu_bar {
	margin: 10px;
	text-align: center;
    color: black;
    font-family: Cormorant;
    font-size: 16px;
    font-weight: normal;
}

h1 {
    text-align: center;
	padding: 0px;
	margin-bottom: 0px;
    color: black;
    font-family: Cormorant;
    font-size: 18px;
    font-weight: bold;
}

h2 {
    margin: 0px;
	text-align: center;
    color: black;
    font-family: Cormorant;
    font-size: 24px;
    font-weight: bold;
}

h3 {
    margin: 0px;
	text-align: center;
    color: black;
    font-family: Cormorant;
    font-size: 24px;
    font-weight: normal;
}


h4  {
	margin: 0px;
	text-align: center;
    color: black;
    font-family: Cormorant;
    font-size: 100%;
    font-weight: normal;
}

p  {
    padding: 20px;
    color: black;
    font-family: Cormorant;
    font-size: 100%;
}


footer {
	clear: both;
	background-color: white;
	bottom: 20px;
	width: 100%;
	color: grey;
}


