<!DOCTYPE html>
<html>

    <head>

        <title>MemeNews.com</title>

		<link rel="stylesheet" href="{{ url_for('static',filename='css/MemeNews_ss.css') }}" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Alegreya|Alike|Aref+Ruqaa|Cinzel|Cinzel+Decorative|Cookie|Cormorant|El+Messiri|Forum|Gilda+Display|IM+Fell+Double+Pica|Julius+Sans+One|Norican|Noto+Serif+SC|Petit+Formal+Script|Rasa" rel="stylesheet">
		<script src="{{url_for('static', filename='javascript/MemeNews.js')}}"></script>

    </head>
    
    <body>
		
		<div class="header">
			<table style="width:100%"> 
				<thead>
					<tr class="info_today">
						<th style="text-align: left; border:none">
							<input id="date" name="date">
							<script type="text/javascript">
								document.getElementById('date').value = Date();
							</script>
						</th>
						<th>
							<a class="logo" href="/">
<!--								<img src="{{resized_img_src('logo.png', width=auto, height=100%, mode='crop')}}" />
-->
								<img src="{{ logo }}" alt="MemeNews Logo. Click to visit the homepage">
							</a>
							</h1>
						<th style="text-align: right">
							<a class="menu_bar" href="Subscribe">
							Subscribe
							</a>
						</th>
					</tr>
				</thead>
			</table>
		</div>
			
		<hr>
			
		<div class="nav">
			<table style="width:100%"> 
				<tr class="menu_bar">
					<th><a href="MemeoftheDay">Meme of the Day</a></th>
					<th><a href="PastArticles">Past Articles</a></th>
					<th><a href="AboutUs">About Us</a></th>
				</tr>
			</table>
		</div>
		
		<hr style="border: 0 none; border-top: 3px double #8c8c8c">
		
		<section class="timeline">
			<p>This is the timeline</p>	
		</section>
			
		<hr>
			
		<section class="article_list">
			<table style="width:100%; margin:10px; padding:10%"> 
				<thead>
					<tr class="front_page">
					<th style="width:30%"> Article </th>
					<th style="width:20%"> Source </th>
					<th style="width:40%"> Summary </th>
					</tr>
				</thead>
				<tbody>
					{% for article in every_article %}
                    <tr>
                        <td style="width:30%">
							<a href="">
								{{ article.title }}
							</a>
						</td>
                        <td style="width:20%">
							<a href="{{ article.url }}" target="_blank">
								link
							</a>
						</td>
                        <td style="width:40%">
							{{ article.summary }}
						</td>
                    </tr>
					{% endfor %}

				</tbody>		
			</table>
			
		</section>
		
		
		<aside>
			<section="TopicOfTheDay">
				<h2>Topic of the Day</h2>
				<p class="emphasize">
					{{ most_appeared_entity }}
				</p>
			</section>
			
			<hr>
			
			<section="tbd">
			
			
			</section>
			
		</aside>
	
		<hr style="border: 0 none; border-top: 3px double #8c8c8c">
		
		<footer>
			<tr> 
				<td style="text-align: left; width: 50%">
					© 2018 The Meme News Company</td>
				<td style="text-align: left; width: 50%">
					<a>
					Terms of Service</a></td>
				<td style="text-align: left; width: 50%">
					<a>
					Site Map</a></td>
			</tr>
		</footer>
    </body>
	
	
</html>